@font-face {
    font-family: 'icomoon';
    src:url('../font/icomoon.eot');
    src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../font/icomoon.woff') format('woff'),
        url('../font/icomoon.ttf') format('truetype'),
        url('../font/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    background: #DFDFDF;
    color: #4C4C4C;
	font-family: 'PT Sans', Arial;
	font-size: 16px;
    margin: 0;
}
footer
{
    background: #434343;
    color: #A7A7A7;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}
footer p
{
    margin: 0;
}
header
{
    background: #000000;
    color: white;
    margin: 0;
    padding: 0.5em;
}
header h1
{
    font-size: 23px;
    font-weight: normal;
    margin: 1.9em 85px 2em 100px;
    display: block;
}
header figure
{
    float: left;
}
header #logo img
{
    width: 120px;
}
label
{
    font-size: 1.4em;
    font-family: 'Sans-serif', Arial;
    margin: 0 0.5em 0 0;
}
form #id_pattern_form, #id_option_form
{
    margin: 0 0.7em 0 0;
}
#search_s
{
    margin: 1em;
}
#search_s .search_d
{
    margin-left: 1em;
}
#search_s .item
{
    background: white;
    border-bottom: 3px #88DAA1 solid;
    margin: 0 1em 3em 1em;
    min-height: 178px;
    position: relative;
}
#search_s .item p
{
    color: #7A7A7A;
    font-size: 0.9em;
}
#search_s .item .date_item
{
    color: #7A7A7A;
    font-size: 0.7em;
    padding-top: 0em;
}
#search_s .item .overview_item
{
    margin: 0 2em 0 0;
    text-align : justify;
}
#search_s .item .imagen_item
{
    float: left;
    margin: 0 1em 0 0;
}
#search_s .item .imagen_item img
{
    width: 110px;
}
#search_s .item .name_item
{
    font-size: 1em;
    font-style: italic;
    padding: 0.5em 0.5em 0;
}
#search_s .item .vote_item
{
    background: white;
    border-color: #FFFFFF #88DAA1 #88DAA1 #88DAA1;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 0.5em 0.5em;
    margin: 3px 0 0 0;
    padding: 0.5em 0;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 115px;
}
#search_s .item .vote_item .count_item
{
    text-decoration: none;
}
#search_s .item .vote_item .count_item:after
{
    color: #DD7;
    content: "\e003";
    font-family: "icomoon";
}
