<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta mane="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
	<title> SEARCH FORM THE MOVIE </title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
</head>
<body>
	{% block header_form %}
	{% endblock header_form %}

	{% block search_form %}
	{% endblock search_form %}

	{% block footer_form %}
	{% endblock footer_form %}
</body>
</html>