{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block header_form %}
	<header>
		<figure id="logo">
			<img src="{{STATIC_URL}}img/digitalvideoicon.jpg" />
		</figure>
		<h1>Data Base1: Search The Movie</h1>
	</header>
{% endblock header_form %}

{% block search_form %}
	<selection id="search_s">
		<div class="search_d">
			<form role="form" id="search-form" action="{% url 'search_list' %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Search">
			</form>
		</div>
		
		{% for result in results %}
		<article class="item">
			<figure id="imagen_item" class="imagen_item">
				{% if result.poster_path %}
				<img src="http://image.tmdb.org/t/p/w500/{{result.poster_path}}">
				{% else %}
				<img src="{{STATIC_URL}}img/buddyicon.jpg" />
				{% endif %}
			</figure>
			<p class="name_item">
				{{ result.id }} - <strong> {{ result.title }} </strong>
				<div class="date_item">
					Release: {{ result.release_date }}
				</div>
			</p>
			<p class="overview_item">
				Overview: {{ result.overview }}
			</p>
			<p class="vote_item">
				<a class="count_item" href="#"> </a>
				<span class="average_item">{{ result.vote_average }}</span>
			</p>
		</article>
		{% endfor %}
	</selection>
{% endblock search_form %}

{% block footer_form %}
	<footer>
		<p><strong>Search The Movie by Jhonamumo</strong></p>
		<p>Jhonamumo@gmail.com 2014 ®</p>
	</footer>
{% endblock footer_form %}
